$primary-color: gainsboro;
$secondary-color: #777;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    // We have set box-sizing in the body, so everything else
    // will now inherit that setting
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: linear-gradient($primary-color, $secondary-color);
    height: 100vh;
}

.controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin-top: 0.3rem;

    & .control-group {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        background-color: lighten($secondary-color, 10);
        border: $secondary-color solid 0.3rem;
        border-radius: 1rem;
        justify-self: center;
        padding: 0.4rem 1rem;
        color: $primary-color;
        font-family: sans-serif;
        font-size: 1.5rem;
        box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
    }
}

.p5Canvas {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, 0);

    box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
}
